<ion-content [fullscreen]="true">
  <div class="texto-error">
    <h1 id="titulo">Error 404</h1>
    <p>Página no encontrada :(</p>
  </div>

  <div class="container">
    <lottie-player
      autoplay
      loop
      src="https://lottie.host/b14687a1-58cb-410c-8bc3-0cebd2e51b76/0NeaAY183t.json"
    >
    </lottie-player>
  </div>

  <div class="texto-referente">
    <p>
      La página que estabas buscando fue eliminada, cambió su nombre o se encuentra temporalmente deshabilitada.
    </p>
    <ion-button id="button" routerLink="/login" expand="block" shape="round">
      Volver al inicio
    </ion-button>
  </div>
</ion-content>
