<ion-content>

  <ion-content [fullscreen]="true">
    <ion-card class="ion-padding transparent-card card-margin">
      <img src="../../../assets/icon/kasskda.png" alt="login" class="ion-padding" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h1>Inicio de sesión</h1>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="custom-input">
          <ion-input
            label="Usuario"
            fill="solid"
            placeholder="Ingresa el usuario"
            labelPlacement="floating"
            type="text"
            [(ngModel)]='login.usuario'>
          </ion-input>
        </ion-item>
        
        
        <ion-item class="custom-input">
          <ion-input
            label="Contraseña"
            fill="solid"
            placeholder="Ingresa la contraseña"
            labelPlacement="floating"
            type="password"
            [(ngModel)]='login.password'>
          </ion-input>
        </ion-item>

        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" shape="round" 
            color="secondary" (click)="ingresar()"><h2>Ingresar</h2></ion-button>
          </ion-col>
          
          <ion-col size="12">
            <p class="ion-text-center">
              <a routerLink="/restaurar">¿Te olvidaste de la contraseña?</a>
              <br><br>
              <a routerLink="/registrar">Registrarse</a>
              <br><br>
              <ion-button [routerLink]="['/inicio']" size="small" color="secondary" shape="round" style="color: white;" >
                <ion-icon slot="start" name="home"></ion-icon>
                Volver
              </ion-button>
              
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
